/* ===================================== adminfelulet ================================== */

.kereses
{
    width: 100px;

}
.container
{
    position: relative;
    
    background-color: slategray;
    
    
}
.kereses
{
  position: relative;
  width: 50%;
  margin: auto;
  top: 20px;

}
.eventplus
{
  position: relative;
left: 60px;
}
.container2
{
    position: relative;
 

    margin: auto;
    width: 70%;
    border: 3px solid green;
    padding: 10px;
    top: 50px;
}
#table-scroll {
  height:400px;
  overflow:auto;  
  margin-top:20px;
}
table, th, td {
  border: 1px solid black;
  border-collapse:collapse;
}


form {
  display: flex;
  flex-direction: column;
  text-align: left;
}
input {
  margin: 0.10em 0em 0em 0em;
  outline: none;
  padding: 0.5em;
  border: none;
  background-color: rgb(225, 225, 225);
  border-radius: 0.25em;
  color: black;
  
}
button {
  padding: 0.75em;
  border: none;
  outline: none;
  border-radius: 0.25em;
}
div { 
  display: block;
}

/* ===================================== jegyek ================================== */
/* ===================================== tablak ================================== */
.text {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
   
.styled-table {
 
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;
   
    
    

}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

